auto-save-list
gnus
lisp
themes
abbrev_defs
bookmarks
custom.el
history
init.el
init.elc
init.html
places
recentf
filesets-cache.el
elpa
org-templates.el
slime
/customizations
/*~
/network-security.data
/games/
